[submodule "libraries/pyforms-web"]
	path = libraries/pyforms-web
	url = git@github.com:UmSenhorQualquer/pyforms-web.git
[submodule "plugins/confirm-users-app"]
	path = plugins/confirm-users-app
	url = git@github.com:fchampalimaud/confirm-users-app.git
