[submodule "libraries/pyforms-web"]
	path = libraries/pyforms-web
	url = https://github.com/UmSenhorQualquer/pyforms-web.git
[submodule "plugins/confirm-users-app"]
	path = plugins/confirm-users-app
	url = https://github.com/fchampalimaud/confirm-users-app.git
[submodule "plugins/notifications-central"]
	path = plugins/notifications-central
	url = https://github.com/fchampalimaud/notifications-central.git
